
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  
   $.ajax({  
       url: "https://localhost:44348/API/Persons/GetRegister",
       success: function (result) {  
           console.log(result);  
    }  
    })  
</script>

