@*<h1 id="judul">Hello World</h1>
    <div id="container">
        <section id="a">
            <p class="p1">paragraf 1</p>
            <a href="#">ini link</a>
            <p class="p2">paragraf 2</p>
            <p class="p3">paragraf 3</p>
        </section>
        <section id="b">
            <p id="a">paragraf 4</p>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </section>
    </div>*@
@*<h1>Starwars API</h1>
    <ul id="swapi">
        <li></li>
    </ul>*@

<table class="table table-striped">
    <thead class="align-content-center">
        <tr>
            <td>No</td>
            <td>Nama</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody id="swapi">
    </tbody>
</table>
<div id="dataModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Pokemon</h5>
            </div>
            <div class="modal-body" id="detail">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/latihanJS.js"></script>
}

@*if (result.types[i].types.name == grass) {
<span class="badge badge-success">Grass</span>
}
if (result.types[i].types.name == poison) {
<span class="badge badge-warning">Poison</span>
}*@

<!--<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <style>
        a {
            /*co display inlineblock*/
            display: inline-block;
        }
    </style>
</head>
<body>-->
@*contoh display block*@
<!--<h1>HALO</h1>-->
@*co display inline*@
<!--<a href=" #">ini link</a>
    <div class="satu"></div>
    <div class="dua"></div>
    <div class="tiga"></div>
</body>
</html>-->
